Repository ZEISS/czicompress, pull requests merged in 2023-11, with the labels that each got.

#12 Do not overwrite OriginalCompressionMethod anymore in czicompress
  .github/workflows/czishrink_dotnet.yml
  czicompress/CMakeLists.txt
  czicompress/lib/src/copyczi.cpp
  czicompress/tests/test_copyoperation.cpp
  czishrink/Directory.Build.props
  czishrink/netczicompressTests/Models/ProgramNameAndVersionTests.cs
  czishrink/upgrade-libczicompressc.ps1
Labels: cla

#18 Enable dependabot for github actions
  .github/dependabot.yml
Labels: enhancement, cla, CI/CD

#11 Switch to codecov
  .github/codecov.yml
  .github/workflows/czicompress_cmake.yml
  .github/workflows/czishrink_dotnet.yml
  README.md
  czicompress/README.md
  czishrink/README.md
  czishrink/upgrade-libczicompressc.ps1
Labels: cla

#21 Fix CziShrink versioning
  czishrink/Directory.Build.props
  czishrink/netczicompressTests/Models/ProgramNameAndVersionTests.cs
  czishrink/upgrade-libczicompressc.ps1
Labels: cla

#22 Upgrade libczicompressc to version 0.5.2
  .gitattributes
  .gitignore
  czishrink/Directory.Build.props
  czishrink/Directory.Packages.props
  czishrink/libczicompressc/libczicompressc.nuspec
  czishrink/netczicompressTests/Models/PInvokeFileProcessorTests.cs
  czishrink/netczicompressTests/mandelbrot.czi
  czishrink/packages_local/libczicompressc.0.5.1-alpha.0.nupkg
  czishrink/packages_local/libczicompressc.0.5.2.nupkg
Labels: cla, czishrink

#24 Use nuget caching
  .github/workflows/czishrink_dotnet.yml
  czishrink/Directory.Build.props
  czishrink/netczicompress.Desktop/packages.lock.json
  czishrink/netczicompress/packages.lock.json
  czishrink/netczicompressTests/packages.lock.json
Labels: enhancement, cla, CI/CD, dependencies, github_actions, czishrink

#28 Switch to dotnet8 for compilation and target framework
  .github/workflows/czishrink_codeql.yml
  .github/workflows/czishrink_dotnet.yml
  czishrink/.vscode/launch.json
  czishrink/Directory.Build.props
  czishrink/global.json
  czishrink/netczicompress.Desktop/packages.lock.json
  czishrink/netczicompress/Models/CompositeObserver.cs
  czishrink/netczicompress/Models/CompressionLevel.cs
  czishrink/netczicompress/Models/CsvLoggingStrategy.cs
  czishrink/netczicompress/Models/FileLauncher.cs
  czishrink/netczicompress/Models/MultiThreadedFolderCompressor.cs
  czishrink/netczicompress/Models/ObservableMixin.CompleteOnError.cs
  czishrink/netczicompress/Models/PInvokeFileProcessor.cs
  czishrink/netczicompress/Models/StatisticsRunObserver.cs
  czishrink/netczicompress/Models/TemporaryFile.cs
  czishrink/netczicompress/Models/ThreadCount.cs
  czishrink/netczicompress/Models/TraceLoggerFactory.cs
  czishrink/netczicompress/ViewModels/AggregateStatisticsViewModel.cs
  czishrink/netczicompress/ViewModels/Converters/BytesToStringConverter.cs
  czishrink/netczicompress/packages.lock.json
  czishrink/netczicompressTests/Models/CompressionLevelTests.cs
  czishrink/netczicompressTests/Models/PInvokeFileProcessorTests.cs
  czishrink/netczicompressTests/Models/ProgramNameAndVersionTests.cs
  czishrink/netczicompressTests/Models/ThreadCountTests.cs
  czishrink/netczicompressTests/packages.lock.json
Labels: enhancement, cla, CI/CD, czishrink, .NET

#34 Add dependency review workflow
  .github/workflows/dependency-review.yaml
Labels: cla, CI/CD, dependencies

#38 Put TraceLoggerFactoryTests into non-parallel collection
  czishrink/Directory.Build.props
  czishrink/netczicompressTests/AppComposerTests.cs
  czishrink/netczicompressTests/AppComposerTestsCollection.cs
  czishrink/netczicompressTests/Models/TraceLoggerFactoryTests.cs
  czishrink/netczicompressTests/Models/TraceLoggerFactoryTestsCollection.cs
Labels: bug, cla, test

#40 Fix wrong decimal separator in CSV report in some locales
  czishrink/Directory.Build.props
  czishrink/netczicompress/Models/CsvLogFileWriter.cs
Labels: bug, cla, czishrink
